@import './_theme.css';

@layer base {
  :root {
    font-family: 'Lexend', sans-serif;
    font-feature-settings: 'calt', 'ss01', 'cv11';
    font-size: 16px;
  }

  #app {
    @apply relative left-0 top-0 min-h-screen w-full bg-main;
  }
}
