@layer base {
  @define-mixin light_theme {
    --color: 36 36 36;
    --ww-background: 255 255 255;
    --ww-accent: 240 241 242;
    --ww-accent-hover: 218 220 223;
    --ww-accent-active: 201 203 206;
    --ww-accent-10: 232 234 235;
    --ww-accent-10-hover: 216 219 220;
    --ww-accent-10-active: 203 206 208;
    --ww-accent-20: 224 228 230;
    --ww-accent-20-hover: 205 209 210;
    --ww-accent-20-active: 189 193 195;
    --ww-accent-30: 217 221 223;
    --ww-accent-30-hover: 193 196 198;
    --ww-accent-30-active: 179 183 185;
    --ww-accent-40: 209 214 216;
    --ww-accent-40-hover: 181 187 188;
    --ww-accent-40-active: 154 161 163;
    --ww-accent-50: 201 207 209;
    --ww-accent-50-hover: 160 166 168;
    --ww-accent-50-active: 145 151 153;
    --ww-midTone: 103 114 117;
    --ww-contrast-1: 0 0 0;
    --ww-scrollbar-thumb: var(--ww-accent-20);
    --ww-scrollbar-thumb-hover: var(--ww-accent-30);
    --ww-button-accent: var(--ww-accent);
    --ww-button-accent-alt: var(--ww-accent-20);
    color-scheme: light;
  }

  @define-mixin dark_theme {
    --color: 255 255 255;
    --ww-background: 25 26 28;
    --ww-accent: 44 44 44;
    --ww-accent-hover: 57 57 57;
    --ww-accent-active: 29 29 29;
    --ww-accent-10: 61 61 61;
    --ww-accent-10-hover: 73 73 73;
    --ww-accent-10-active: 39 39 39;
    --ww-accent-20: 79 79 79;
    --ww-accent-20-hover: 104 104 104;
    --ww-accent-20-active: 34 34 34;
    --ww-accent-30: 88 88 88;
    --ww-accent-30-hover: 112 112 112;
    --ww-accent-30-active: 62 62 62;
    --ww-accent-40: 93 93 93;
    --ww-accent-40-hover: 104 104 104;
    --ww-accent-40-active: 55 55 55;
    --ww-accent-50: 102 102 102;
    --ww-accent-50-hover: 121 121 121;
    --ww-accent-50-active: 59 59 59;
    --ww-midTone: 140 140 140;
    --ww-contrast-1: 79 79 79;
    --ww-scrollbar-thumb: var(--ww-accent-20);
    --ww-scrollbar-thumb-hover: var(--ww-accent-30);
    --ww-button-accent: var(--ww-accent-20);
    --ww-button-accent-alt: var(--ww-accent);
    color-scheme: dark;
  }

  @define-mixin dracula_theme {
    --color: 255 255 255;
    --ww-background: 40 42 54;
    --ww-accent: 52 55 70;
    --ww-accent-hover: 66 70 91;
    --ww-accent-active: 43 45 57;
    --ww-accent-10: 47 51 59;
    --ww-accent-10-hover: 57 62 72;
    --ww-accent-10-active: 39 42 48;
    --ww-accent-20: 56 62 72;
    --ww-accent-20-hover: 73 81 96;
    --ww-accent-20-active: 49 54 62;
    --ww-accent-30: 64 71 84;
    --ww-accent-30-hover: 93 103 122;
    --ww-accent-30-active: 54 60 69;
    --ww-accent-40: 70 79 95;
    --ww-accent-40-hover: 112 128 155;
    --ww-accent-40-active: 61 68 81;
    --ww-accent-50: 78 89 108;
    --ww-accent-50-hover: 137 157 192;
    --ww-accent-50-active: 67 76 91;
    --ww-midTone: 126 144 172;
    --ww-contrast-1: 79 84 111;
    --ww-scrollbar-thumb: var(--ww-accent-20);
    --ww-scrollbar-thumb-hover: var(--ww-accent-30);
    --ww-button-accent: var(--ww-accent-20);
    --ww-button-accent-alt: var(--ww-accent);
    --ww-primary: 161 121 192;
    --ww-primary-10: 134 96 164;
    --ww-primary-20: 116 85 140;
    --ww-status-red: 255 85 85;
    --ww-status-yellow: 255 184 108;
    --ww-status-blue: 139 233 253;
    --ww-status-green: 80 250 123;
    color-scheme: dark;
  }

  @define-mixin slate_theme {
    --color: 222 239 239;
    --ww-background: 18 19 24;
    --ww-accent: 33 35 40;
    --ww-accent-hover: 47 50 57;
    --ww-accent-active: 21 23 26;
    --ww-accent-10: 38 41 47;
    --ww-accent-10-hover: 45 48 55;
    --ww-accent-10-active: 20 21 24;
    --ww-accent-20: 61 65 74;
    --ww-accent-20-hover: 72 78 90;
    --ww-accent-20-active: 44 46 52;
    --ww-accent-30: 67 71 82;
    --ww-accent-30-hover: 75 80 94;
    --ww-accent-30-active: 43 46 52;
    --ww-accent-40: 78 83 96;
    --ww-accent-40-hover: 88 94 110;
    --ww-accent-40-active: 50 52 59;
    --ww-accent-50: 83 88 103;
    --ww-accent-50-hover: 91 97 116;
    --ww-accent-50-active: 41 43 49;
    --ww-midTone: 123 140 144;
    --ww-contrast-1: 61 65 74;
    --ww-scrollbar-thumb: var(--ww-accent-20);
    --ww-scrollbar-thumb-hover: var(--ww-accent-30);
    --ww-button-accent: var(--ww-accent-20);
    --ww-button-accent-alt: var(--ww-accent);
    color-scheme: dark;
  }

  :root {
    --ww-primary: 0 220 130;
    --ww-primary-10: 230 97 62;
    --ww-primary-20: 188 85 59;
    --ww-status-red: 255 64 64;
    --ww-status-green: 4 208 0;
    --ww-status-yellow: 218 117 0;
    --ww-status-blue: 0 201 245;
    --ww-status-grey: 196 196 196;
    --ww-status-purple: 125 64 255;
    --ww-indication-blue: 75 152 241;
    --ww-danger: 255 64 64;
    --ww-danger-10: 219 49 49;
    --ww-danger-20: 191 33 33;
    color: rgb(var(--color));
    color-scheme: dark light;

    &[data-theme='light'] {
      @mixin light_theme;
    }

    &[data-theme='dark'] {
      @mixin dark_theme;

      .dark_\:invert {
        @apply invert;
      }
    }

    &[data-theme='dracula'] {
      @mixin dracula_theme;
    }

    &[data-theme='slate'] {
      @mixin slate_theme;
    }

    &[data-theme='system'] {
      @mixin light_theme;

      @media (prefers-color-scheme: dark) {
        @mixin dark_theme;
      }
    }
  }
}
