@import 'https://rsms.me/inter/inter.css';

@layer base {
  @define-mixin light_theme {
    --color: 36 36 36;
    --ww-background: 255 255 255;
    --ww-accent: 240 241 242;
    --ww-accent-hover: 218 220 223;
    --ww-accent-active: 201 203 206;
    --ww-accent-10: 232 234 235;
    --ww-accent-10-hover: 216 219 220;
    --ww-accent-10-active: 203 206 208;
    --ww-accent-20: 224 228 230;
    --ww-accent-20-hover: 205 209 210;
    --ww-accent-20-active: 189 193 195;
    --ww-accent-30: 217 221 223;
    --ww-accent-30-hover: 193 196 198;
    --ww-accent-30-active: 179 183 185;
    --ww-accent-40: 209 214 216;
    --ww-accent-40-hover: 181 187 188;
    --ww-accent-40-active: 154 161 163;
    --ww-accent-50: 201 207 209;
    --ww-accent-50-hover: 160 166 168;
    --ww-accent-50-active: 145 151 153;
    --ww-midTone: 103 114 117;
    --ww-contrast-1: 0 0 0;
    --ww-scrollbar-thumb: var(--ww-accent-20);
    --ww-scrollbar-thumb-hover: var(--ww-accent-30);
    --ww-button-accent: var(--ww-accent);
    --ww-button-accent-alt: var(--ww-accent-20);
    color-scheme: light;
  }

  @define-mixin dark_theme {
    --color: 255 255 255;
    --ww-background: 25 26 28;
    --ww-accent: 44 44 44;
    --ww-accent-hover: 57 57 57;
    --ww-accent-active: 29 29 29;
    --ww-accent-10: 61 61 61;
    --ww-accent-10-hover: 73 73 73;
    --ww-accent-10-active: 39 39 39;
    --ww-accent-20: 79 79 79;
    --ww-accent-20-hover: 104 104 104;
    --ww-accent-20-active: 34 34 34;
    --ww-accent-30: 88 88 88;
    --ww-accent-30-hover: 112 112 112;
    --ww-accent-30-active: 62 62 62;
    --ww-accent-40: 93 93 93;
    --ww-accent-40-hover: 104 104 104;
    --ww-accent-40-active: 55 55 55;
    --ww-accent-50: 102 102 102;
    --ww-accent-50-hover: 121 121 121;
    --ww-accent-50-active: 59 59 59;
    --ww-midTone: 140 140 140;
    --ww-contrast-1: 79 79 79;
    --ww-scrollbar-thumb: var(--ww-accent-20);
    --ww-scrollbar-thumb-hover: var(--ww-accent-30);
    --ww-button-accent: var(--ww-accent-20);
    --ww-button-accent-alt: var(--ww-accent);
    color-scheme: dark;
  }

  :root {
    @apply font-sans;
    font-size: 16px;

    --ww-primary: 34 197 94;
    --ww-primary-10: 22 163 74;
    --ww-primary-20: 21 128 61;
    --ww-status-red: 255 64 64;
    --ww-status-green: 4 208 0;
    --ww-status-yellow: 218 117 0;
    --ww-status-blue: 0 201 245;
    --ww-status-grey: 196 196 196;
    --ww-status-purple: 125 64 255;
    --ww-indication-blue: 75 152 241;
    --ww-danger: 255 64 64;
    --ww-danger-10: 219 49 49;
    --ww-danger-20: 191 33 33;
    color: rgb(var(--color));
    color-scheme: dark light;

    &[data-theme='light'] {
      @mixin light_theme;
    }

    &[data-theme='dark'] {
      @mixin dark_theme;

      .dark_\:invert {
        @apply invert;
      }
    }
  }

  #app {
    @apply bg-bgCol relative min-h-screen;
  }
}
